# Add CORS headers
# Header add Access-Control-Allow-Headers: Content-Type
# Header add Access-Control-Allow-Methods: GET, POST, PUT
Header add Access-Control-Allow-Origin: *

# Possible to rewrite URL's
RewriteEngine on

# Rewrite the incoming item URLs
RewriteRule ^articles/(.+)$ index.php?type=articles&reference=$1 [NC,NE]
RewriteRule ^articles$ index.php?type=articles [NC,NE]
RewriteRule ^tags/(.+)$ index.php?type=tags&reference=$1 [NC,NE]
RewriteRule ^summary/articles$ index.php?type=articles&summary=true [NC,NE]
RewriteRule ^summary/tags/(.+)$ index.php?type=tags&reference=$1&summary=true [NC,NE]

# Rewrite all other URLs back to the root
RewriteRule ^(.*)$ index.php