<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Retrieve article">
                    <match url="^articles/(.+)"/>
                    <action type="Rewrite" url="index.php?type=articles&amp;reference={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Retrieve articles">
                    <match url="^articles"/>
                    <action type="Rewrite" url="index.php?type=articles" />
                </rule>
                <rule name="Retrieve articles for tag">
                    <match url="^tags/(.+)"/>
                    <action type="Rewrite" url="index.php?type=tags&amp;reference={R:1}" />
                </rule>
                <rule name="Retrieve articles summary">
                    <match url="^summary/articles"/>
                    <action type="Rewrite" url="index.php?type=articles&amp;summary=true" appendQueryString="false" />
                </rule>
                <rule name="Retrieve articles summary for tag">
                    <match url="^summary/tags/(.+)"/>
                    <action type="Rewrite" url="index.php?type=tags&amp;summary=true&amp;reference={R:1}" />
                </rule>
                <rule name="Fallback route">
                    <match url="^.*$"/>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>